body,html{
    margin:0;
    padding:0;
}

.cmsContainer{
   

    width: 45%;
    margin-right: 25%;
    margin-left: 25%;
}
.h1-cms{
    margin-top: 4%;
    text-align: center;
    font-size: 2rem;
    padding-bottom:5%;
}
.textArea{
    min-width: 350px;
}

.text-box{
    margin-top: 10%;
}
.colorBox{
    margin-top:40%;
}
#locationSelector{
    margin:4px;
    padding:4px;
    margin-bottom:10px
}
#selectId{
    margin:4px;
        padding:4px;
        margin-bottom:10px
}